$ml-blue: #3483fa;
$ml-green: #00a650;
$ml-yellow: #fff159;
$ml-gray-100: #f5f5f5;
$ml-gray-200: #e6e6e6;
$ml-gray-300: #999;
$ml-gray-700: #333;
$ml-gray-900: #000;

$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;